@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  background: url(Images/Wall.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.key {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding: 20px;
  margin: 10px;
  min-width: 150px;
  text-align: center;
}

.key small {
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
}
